.container {
    display: flex;
    justify-content: space-around;
}

.text {
    width: 800px;
}

.title {
    font-size: xx-large;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.description {
    font-size: medium;
    display: flex;
    justify-content: space-around;
}

.event {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.event.selected {
    font-weight: bold;
}

.timeline {
    width: 700px;
}